:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  height: 100%;
}

.item-main{
  min-height: 50px;
  display: flex;
  align-items: center;
}

