.toolbar-section{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.toolbar-container{
  display: flex;
  background-color: rgba(178, 183, 188, 0.24);
  padding: 1rem 3rem;
  column-gap: 0.5rem;
  border-radius: 80px;
}

