<div>
  <app-toolbar>
    <whiteboard-colorPicker
      [(color)]="currentColor"
      (colorChange)="onColorChange($event)"
    ></whiteboard-colorPicker>
  </app-toolbar>
</div>

<div class="container">
  <canvas class="whiteboardArea" #canvasRef
          (pointerdown)="startDrawing($event)"
          (pointermove)="draw($event)"
          (pointerup)="stopDrawing()"
          (pointerleave)="stopDrawing()">
  </canvas>

  <button type="button" (click)="clearWhiteboard()">Clear</button>
</div>
