.whiteboard-container{
  height: 100%;
  width: 100%;
}

.whiteboardArea{
  border: 1px solid #ccc;
  background-color: white;
  cursor: crosshair;
  touch-action: none;
}

.whiteboard-size{
  width: 100%;
  height: 100%;
}
